.services {
    padding: 60px 180px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1440px) {
        padding: 60px;
    }  

    @media (max-width: 580px) {
        padding: 30px;
    }

    &__btn {
        margin-bottom: 10px;
        text-transform: uppercase;
        width: 95px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border: 1px solid $active-main-color;
            border-width: 2px 2px 0 0;
            display: inline-block;
            transform: rotate(45deg);
            left: 85px;
            top: 6px;
        }

        &:hover {
            color: $accent-color;
        }
        &:hover::after {
            border: 0px solid $accent-color;
            border-width: 2px 2px 0 0;
            }
    }

    &__main-title {
        @include text-gradient;
        font-size: $h1-fz;
        margin-bottom: 60px;
        font-weight: 700;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;

        @include flex-spasing(3, 60px);

        @media (max-width: 768px) {
            @include flex-spasing(2, 60px);
            } 
        
        @media (max-width: 580px) {
            @include flex-spasing(1, 30px);
            padding-bottom: 60px;
        } 
          
    }

    &__advanteges {
        display: flex;
        width: 92px;
        height: 92px;
        background-color: $base-secondary-color;
        border-radius: 24px;
        justify-content: center;
        align-items: center;
    }

    // &__icons {
    //     mask: url('/src/img/icons/icons.svg#icon-Ecommerce') no-repeat center / contain;
    //     -webkit-mask: url('/src/img/icons/icons.svg#icon-Ecommerce') no-repeat center / contain;
    //     background: linear-gradient(90deg, #F0145A, #EF8080);
    // }

    &__title {
        font-size: $h3-fz;
        margin-bottom: 15px;
        margin-top: 30px;

        &__title {
            line-height: 26px;
    }
    }
}