body {
	font-family: 'Montserrat';
	background: $base-secondary-color;
	color: $base-secondary-color;
	font-size: $base-fz;
	transition: background .2s ease, color .2s ease;
	font: #{$base-fz}/#{$base-lh} #{$base-ff};
	// @include viewport-md {
	// 	font-size: 10px;
	// }

}

.wrapper {
	min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 60px;

	@media (max-width: 480px) {
        padding: 0 30px;
    }
}

.title {
	font-size: 25px;
	text-align: center;
}

.bg-gradient {
	background: $grd-superSoft-color;
	border-radius: 0 0 12px 12px;
	margin-bottom: 30px;
	position: relative;

	&::before,
	&::after {
		    content: "";
    	position: absolute;
    	right: 40px;
    	left: 40px;
    	height: 22px;
    	bottom: -22px;;
    	border-radius: inherit;
    	background: #E7E7F2;
	}

	&::after {
		bottom: -12px;
    	height: 12px;
    	right: 20px;
    	left: 20px;
    	z-index: 2;
    	background-color: #CACADB;
	}
}

.text-gradient {
	color: transparent;
	background: $grd-accentText-color;
	background-clip: text;

}

.cat-link {
	color: $active-main-color;
    text-decoration: none;
	font-weight: 700;
}

.link-btn {
    display: inline-block;
  	align-self: flex-start;
  	text-transform: uppercase;

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border: 1px solid $active-main-color;
            border-width: 2px 2px 0 0;
            display: inline-block;
            transform: rotate(45deg);
			vertical-align: 3.5px;
			margin-left: 4px; 
        }

        &:hover {
            color: $accent-color;
        }
        &:hover::after {
            border: 0px solid $accent-color;
            border-width: 2px 2px 0 0;
            }
}

.swiper-slide{
	width: 100% !important; 
}