// base colors //
$base-color: #000000;
$base-secondary-color: #FFFFFF;
// main colors //
$main-color:  #323264;
$main-alt-color:#46466E;
$main-soft-color:#686887;
// accent color//
$accent-color: #F0145A;
// active colors //
$active-main-color: #24A3FF;
$active-hover-color: #0085FF;
$active-act-color: #006CCF;
// secondary colors //
$second-color: #F5F5FA;
$second-alt-color: #EDEDF7;
$second-text-color: #B3B3BA;
$second-sep-color: #E6E6F0;
// gradient colors //
$grd-main-color: linear-gradient(#323264, #323264, #A54B5F);
$grd-soft-color: linear-gradient(#323264, #323264, #7A425E);
$grd-accent-color: linear-gradient(#F0145A, #693264);
$grd-superSoft-color: linear-gradient(228.67deg , #323264 11.93%, #323264 57.17%,#643E72 87.46%);
$grd-accentText-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);

// fonts //
$base-fz: 16px;
$second-fz: 12px;
$h1-fz: 38px;
$h2-fz: 30px;
$h3-fz: 22px;
$h3-caps-fz: 14px;
$h4-fz: 16px;
$ul-fz: 18px;
$base-lh: 1.2; 
$base-ff: "Montserrat", sans-sarif;
